* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: 'Lato', sans-serif;
}
header{
    background-color: #666699;
    color: white;
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
body{
    /* background: rgb(104,15,195);
    background: linear-gradient(135deg, rgba(104,15,195,1) 0%, rgba(255,105,249,1) 100%); */
    min-height: 100vh;
    background-color: #e6e6e6
    ;
}
#mainWrp{
    min-height: 100%;
}
.sectionWrp{
    /* background-color: #8298FF; */
    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 2em auto;
    position: relative;
    z-index: 1;
}
/* h2{
    /* color: #dfc5fa; */
/* } */
#wishList{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    overflow: auto;
    align-items: center;
    /* gap: 1.5em; */
    margin: 1em 0;
}
.listItemHeader{
    /* background-color: #4c0d8c; */
    /* background-color: rgb(43, 99, 82); */
    font-weight: normal;
    text-align: center;
    color: white;
}
.wishListItem{
    width: 80%;
    border-radius: 3px;
    overflow: hidden;
    box-sizing: border-box;
    color: white;
    margin: 0.75em 0;
}
.wishListItem:hover{
    box-shadow: 0px 0px 10px white;
}
.wishListItem > li {
    margin-left: 0.3em;
}
/* .wishListItemUl{
    list-style-type: none;
}
.wishListItemUl li{
    padding-left: 1em;
} */
#addListBtn{
    all: revert;
    border: 3px solid #333344;
    font-size: 100%;
    color: white;
    width: 80%;
    margin-top: 1em;
    height: 2em;
    background-color: #666699;
}
#fadedBackdrop{
    min-height: 100%;
    width: 100vw;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
}
#addListFormWrp{
    width: 90%;
    background-color: white;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
#formHeaderDiv{
    display: flex;
    justify-content: space-between;
    background-color: #666699;
    color: white;
    padding: 0.2em;
    align-items: center;
}
#closeFormWindow{
    width: 50px;
    height: 50px;
}
form{
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 0.2em;
}
.warning{
    color: red;
}
#submitBtn{
    width: 100px;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 1em;
}
.listWrp{
    /* background: rgb(153,94,186);
    background: linear-gradient(180deg, rgba(153,94,186,1) 0%, rgba(255,255,255,1) 50%); */
    background-color: #e6e6e6;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    position: fixed;
}
.fullListPerson{
    /* background-color: #995EBA; */
    color: white;
    width: 90%;
    text-align: center;
}
.fullListDiv{
    width: 80%;
    border-radius: 3px;
    overflow: hidden;
    box-sizing: border-box;
    color: white;
    text-align: center;
}
.fullListDiv li {
    padding: 5px;
}
.fullListItemName{
    padding: 0;
}
.fullListHeading{
    text-decoration: underline;
    font-weight: 700;
}
#fullListNameHeader{
    width: 100%;
    /* position: sticky; */
    top: 0;
    display: flex;
    background-color: #666699;
}
#fullListExitCornerBtn{
    width: 10%;
    /* height: 100%; */
}
#closeListBtn{
    border: 3px solid #333344;
    font-size: 100%;
    color: white;
    width: 80%;
    margin: 1em 0;
    height: 2em;
    background-color: #666699;

}
.listHeaderItemName{
    display: flex;
}
.listHeaderItemNameCloseBtn{
    width: 1.5em;
    height: 1.5em;
}
.listHeaderItemNameDiv{
    flex-grow: 1;
    text-align: center;
}
.listGreen{
    background-color:#41967D;
}
.listHeaderGreen{
    background-color: #255748;
}
.listBlue{
    background-color: #0066ff;
}
.listHeaderBlue{
    background-color: #003380;
}
.listPurple{
    background-color: #8B17FF;
}
.listHeaderPurple{
    background-color: #4C0D8C;
}
.listPink{
    background-color: #ff66b3;
}
.listHeaderPink{
    background-color: #BF4D86;
}
.listOrange{
    background-color: #ff8533;
}
.listHeaderOrange{
    background-color: #CC6A29;
}
.listRed{
    background-color: #ff3333;
}
.listHeaderRed{
    background-color: #800000;
}
.redBorder{
    border: 3px solid red;
}
.noScroll{
    overflow: hidden;
}